version: '3.1'

services:
    mongodb:
        image: mongo:latest
        container_name: "mongodb"
        environment:
            MONGO_INITDB_ROOT_USERNAME: nilsir
            MONGO_INITDB_ROOT_PASSWORD: 123456
        volumes:
            - ./data:/data/db:rw
        ports:
            - "${MONGODB_PORT}:27017"
        restart: always
        networks:
            - mongodb-net

networks:
    mongodb-net:
        external: true
